---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/sections/Hero.astro';
import Experiencie from '../../components/sections/Experiencie.astro';
import Projects from '../../components/sections/Projects.astro';
import Skills from '../../components/sections/Skills.astro';
import About from '../../components/sections/About.astro';
import Contact from '../../components/sections/Contact.astro';
---

<Layout title="Valentín Osorio's personal website" description="Software Engineer with +3 years of experience. Specialized in Frontend with Vue.js and React.js. Expert in creating unique applications from scratch to production." keywords="Valentín Osorio, frontend, developer, software, engineer, javascript, typescript, react, vue, astro, tailwind, css, html, web, application, portfolio, projects, skills, about, contact" author="Valentín Osorio">
	<main>
    <Hero />
    <Experiencie />
    <Projects />
    <Skills />
    <About />
    <Contact />
	</main>
</Layout>
