---
import type { languages } from '../../i18n/ui';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import CopyIcon from '../icons/CopyIcon.astro';
import Github from '../icons/Github.astro';
import Linkedin from '../icons/Linkedin.astro';
import MailIcon from '../icons/MailIcon.astro';
import Phone from '../icons/Phone.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang as keyof typeof languages)

const copyToClipboard = (str: string) => {
  return `navigator.clipboard.writeText('${str}');`;
};
---

<section id="contact" class="bg-white dark:bg-gray-900 w-full">
  <h2 class="text-2xl text-center font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-4xl dark:text-white mx-auto max-w-screen-xl py-8 px-4">{t('contact.title')}</h2>
  <div class="bg-white dark:bg-gray-900 py-8 px-8 mx-auto max-w-screen-xl">
    <p class="text-center text-gray-700 dark:text-white text-xl mb-5">
      {t('contact.text')}
    </p>
    <div class="flex flex-row justify-center items-center md:gap-4 gap-2 mb-5">
      <MailIcon />
      <p class="text-gray-700 font-bold dark:text-white text-sm md:text-2xl">
        osoriovalentin5@gmail.com
      </p>
      <button class="text-gray-700 dark:text-white text-xl hover:bg-gray-100 dark:hover:bg-gray-700 rounded-full p-2" onclick={copyToClipboard('osoriovalentin5@gmail.com')}>
        <CopyIcon />
        <span class="sr-only">Copy email</span>
      </button>
    </div>
    <div class="flex flex-row justify-center items-center md:gap-4 gap-2 mb-5">
      <Phone />
      <p class="text-gray-700 font-bold dark:text-white text-sm md:text-2xl">
        +57 313 786 5160
      </p>
      <button class="text-gray-700 dark:text-white text-xl hover:bg-gray-100 dark:hover:bg-gray-700 rounded-full p-2" onclick={copyToClipboard('+573137865160')}>
        <CopyIcon />
        <span class="sr-only">Copy phone number</span>
      </button>
    </div>
    <p class="text-center text-gray-400 dark:text-gray-500 text-base mb-5">
      {t('contact.platforms')}
    </p>
    <div class="flex flex-row items-center justify-center gap-3 text-gray-500 dark:text-gray-400 mb-6 text-right">
      <a href="https://github.com/Diegovalen47" target="_blank" class="text-black dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-1.5 text-center inline-flex items-center gap-1 dark:border-blue-500 dark:focus:ring-blue-800 hover:bg-gray-100 dark:hover:bg-gray-700">
        <Github currentColor="gray" />
        <span class="sr-only">Link to my GitHub</span>
      </a>
      <a href="https://www.linkedin.com/in/valentin-osorio/" target="_blank" class="text-black dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-1.5 text-center inline-flex items-center gap-1 dark:border-blue-500 dark:focus:ring-blue-800 hover:bg-gray-100 dark:hover:bg-gray-700">
        <Linkedin currentColor="gray" />
        <span class="sr-only">Link to my LinkedIn</span>
      </a>
    </div>
  </div>
</section>
