---
import ExperienceItem from './ExperienceItem.astro';
import type { languages } from '../../i18n/ui';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang as keyof typeof languages)

const experiences = [
{
    link: "https://www.linqia.com",
    title: {
      en: "Software Engineer - Linqia",
      es: "Ingeniero de Software - Linqia",
    },
    time: {
      en: "June 2025 - Present (1 month)",
      es: "Junio 2025 - Presente (1 mes)",
    },
    description: {
      en: "",
      es: "",
    },
    bulletPoints: [],
    technologies: ["Vue.js", "FastAPI", "JavaScript", "TypeScript", "Python", "AWS", "Systems Design"],
  },
  {
    link: "https://www.lapzo.com",
    title: {
      en: "Software Engineer - lapzo",
      es: "Ingeniero de Software - lapzo",
    },
    time: {
      en: "May 2025 - June 2025 (1 month)",
      es: "Mayo 2025 - Junio 2025 (1 mes)",
    },
    description: {
      en: "Responsible for maintaining and developing new features for a Learning Management System (LMS), covering frontend, backend, database, and infrastructure levels.",
      es: "Responsable de mantener y desarrollar nuevas funcionalidades en un sistema de gestión de aprendizaje (LMS), cubriendo niveles de frontend, backend, base de datos e infraestructura.",
    },
    bulletPoints: [
      {
        en: "Successfully resolved high-priority bugs in less than one day, which boosted trust from both the client and users.",
        es: "Resolví correctamente errores de alta prioridad en menos de un día, lo que aumentó la confianza tanto del cliente como de los usuarios.",
      },
      {
        en: "Implemented a new approach for error handling in the code, enabling clearer and more scalable error control.",
        es: "Implementé una nueva estrategia para el manejo de errores en el código, lo que permite un control de errores más claro y escalable.",
      },
    ],
    technologies: ["React.js", "Nest.js", "PostgreSQL", "GraphQL", "GCP", "Hasura", "Redux", "Supabase", "Docker"],
  },
  {
    link: "https://apside.cl/",
    title: {
      en: "Software Engineer - Apside",
      es: "Ingeniero de Software - Apside",
    },
    time: {
      en: "June 2024 - May 2025 (11 months)",
      es: "Junio 2024 - Mayo 2025 (11 meses)",
    },
    description: {
      en: "Responsible for maintaining and developing new features across multiple frontend and backend microservices for insurance quoting tools used by sales executives.",
      es: "Responsable de mantener y desarrollar nuevas funcionalidades en múltiples microservicios frontend y backend para herramientas de cotización de seguros utilizadas por ejecutivos de ventas.",
    },
    bulletPoints: [
      {
        en: "Optimized the identity validation flow to prevent users with blocked IDs and executives from quoting for themselves, helping sales teams save 20% of their time by discarding invalid quotes early in the process.",
        es: "Optimicé el flujo de validación de identidad para evitar que usuarios con IDs bloqueadas y ejecutivos se auto-coticen, ayudando a los equipos de ventas a ahorrar un 20% de su tiempo al descartar cotizaciones inválidas temprano en el proceso.",
      },
      {
        en: "Implemented a feature to display discounts based on various campaigns, enhancing performance through caching and proper data structure management.",
        es: "Implementé una funcionalidad para mostrar descuentos basados en diferentes campañas, mejorando el rendimiento mediante estrategias de caché y la gestión adecuada de estructuras de datos.",
      },
    ],
    technologies: ["Vue.js", "FastAPI", "AWS", "Docker", "Python", "TypeScript", "Sass", "TailwindCSS", "Vistest", "Cypress", "Docker"],
  },
  {
    link: "https://unergy.io/",
    title: {
      en: "Frontend Developer - Unergy",
      es: "Desarrollador Frontend - Unergy",
    },
    time: {
      en: "October 2022 - June 2024 (1 yr 9 mos)",
      es: "Octubre 2022 - Junio 2024 (1 año 9 meses)",
    },
    description: {
      en: "Responsible for maintaining and developing new features for a web3 crowdfunding platform for solar energy projects, translating designs and requirements into interactive, user-friendly, and functional interfaces.",
      es: "Responsable de mantener y desarrollar nuevas funcionalidades para una plataforma de crowdfunding web3 para proyectos de energía solar, traduciendo diseños y requisitos en interfaces interactivas, fáciles de usar y funcionales."
    },
    bulletPoints: [
      {
        en: "I achieved a 30% improvement in first-page load performance by employing asynchronous techniques and asset optimization strategies.",
        es: "Logré una mejora del 30% en el tiempo de carga de la primera página mediante técnicas asíncronas y estrategias de optimización de recursos."
      },
      {
        en: "I also collaborated with back-end and blockchain teams to integrate new features and led the implementation of additional functionalities.",
        es: "También colaboré con equipos de back-end y blockchain para integrar nuevas funcionalidades y lideré la implementación de funcionalidades adicionales."
      },
      {
        en: "Using an agile approach, I organized the development of a responsive interface that delivered real-time graphs of measurements and profitability for institutional investors. The solution was launched on schedule and received high praise from key investors.",
        es: "Utilizando un enfoque ágil, organizé el desarrollo de una interfaz responsiva que entregaba gráficos en tiempo real de mediciones y rentabilidad para inversores institucionales. La solución fue lanzada según lo previsto y recibió grandes elogios por parte de inversores clave."
      }
    ],
    technologies: ["Vue.js", "Nuxt.js", "Javascript", "TypeScript", "HTML", "CSS", "Amazon EC2", "Sass", "Vuex", "Pinia", "JWT", "OAuth2", "npm", "Websockets", "TanStack Query", "Docker"],
  },
]
---

<section id="experience" class="bg-gray-100 dark:bg-gray-800 w-full py-14">
  <h2 class="text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-4xl dark:text-white mx-auto max-w-screen-xl py-8 px-4">{t('nav.experience')}</h2>
  <div class="bg-gray-100 dark:bg-gray-800 py-8 px-8 mx-auto max-w-screen-xl">
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      {experiences.map((experience) => (
        <ExperienceItem {...experience} />
      ))}
    </ol>
  </div>
</section>

