---
import type { languages } from '../../i18n/ui';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import ProjectsCard from './ProjectsCard.astro';
import PokeStrategyItem1 from '../../assets/projects/pokestrategy/poke_1.webp';
import PokeStrategyItem2 from '../../assets/projects/pokestrategy/poke_2.webp';
import PokeStrategyItem3 from '../../assets/projects/pokestrategy/poke_3.webp';
import PokeStrategyItem4 from '../../assets/projects/pokestrategy/poke_4.webp';
import EstuResidencia1 from '../../assets/projects/esturesidencia/estu_residencia_1.webp';
import EstuResidencia2 from '../../assets/projects/esturesidencia/estu_residencia_2.webp';
import EstuResidencia3 from '../../assets/projects/esturesidencia/estu_residencia_3.webp';
import Tetris1 from '../../assets/projects/tetris/tetris_1.webp';
import Tetris2 from '../../assets/projects/tetris/tetris_2.webp';
import Tetris3 from '../../assets/projects/tetris/tetris_3.webp';
import Tetris4 from '../../assets/projects/tetris/tetris_4.webp';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang as keyof typeof languages)

const projects = [
  {
    title: 'PokeStrategy',
    description: t('projects.pokestrategy.description'),
    link: 'https://pokemonstrategy.netlify.app/',
    codeLink: 'https://github.com/Diegovalen47/pokemon-strategy',
    time: t('projects.pokestrategy.time'),
    technologies: ['Vue.js', 'TypeScript','TailwindCSS', 'SQLite', 'Netlify', 'drizzle-orm', 'Tanstack Query', 'Clean Architecture', 'Design Patterns', 'Pinia'],
    images: [
      { src: PokeStrategyItem1.src, alt: 'PokeStrategyItem1' },
      { src: PokeStrategyItem2.src, alt: 'PokeStrategyItem2' },
      { src: PokeStrategyItem3.src, alt: 'PokeStrategyItem3' },
      { src: PokeStrategyItem4.src, alt: 'PokeStrategyItem4' },
    ],
  },
  {
    title: 'EstuResidencia',
    description: t('projects.esturesidencia.description'),
    link: 'https://drive.google.com/file/d/1fkq3XdeE3V7dPMRkug4VwtYfPdS1IlPh/view?usp=sharing',
    codeLink: 'https://github.com/orgs/EstuResidencia/repositories',
    time: t('projects.esturesidencia.time'),
    technologies: ['Vue.js', 'Flutter', 'AWS', 'Figma', 'Clean Architecture', 'Design Patterns', 'Django', 'PostgreSQL'],
    images: [
      { src: EstuResidencia1.src, alt: 'EstuResidenciaLogin' },
      { src: EstuResidencia2.src, alt: 'EstuResidenciaMenu' },
      { src: EstuResidencia3.src, alt: 'EstuResidenciaDetalles' },
    ]
  },
  {
    title: 'Tetris',
    description: t('projects.tetris.description'),
    link: 'https://diegovalen47.github.io/tetris-game/',
    codeLink: 'https://github.com/Diegovalen47/tetris-game',
    time: t('projects.tetris.time'),
    technologies: ['Vue.js', 'TypeScript', 'Vite', 'Vuetify'],
    images: [
      { src: Tetris2.src, alt: 'Tetris2' },
      { src: Tetris3.src, alt: 'Tetris3' },
      { src: Tetris1.src, alt: 'Tetris1' },
      { src: Tetris4.src, alt: 'Tetris4' },
    ]
  }
]
---

<section id="projects" class="bg-white dark:bg-gray-900 w-full py-14">
  <h2 class="text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-4xl dark:text-white mx-auto max-w-screen-xl py-8 px-4">{t('nav.projects')}</h2>
  <div class="bg-white dark:bg-gray-900 py-8 px-4 mx-auto max-w-screen-xl">
    <ul class="space-y-8 md:grid md:grid-cols-1 md:gap-8 md:space-y-0">
      {projects.map((project) => (
        <ProjectsCard {...project} />
      ))}
    </ul>
  </div>
</section>

