---
import type { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang as keyof typeof languages)
---

<footer class="bg-gray-100 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-center">
    <span class="text-sm text-gray-500 dark:text-gray-400 text-center">
      {t('footer')}
    </span>
  </div>
</footer>
