---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/sections/Hero.astro';
import Experiencie from '../../components/sections/Experiencie.astro';
import Projects from '../../components/sections/Projects.astro';
import Skills from '../../components/sections/Skills.astro';
import About from '../../components/sections/About.astro';
import Contact from '../../components/sections/Contact.astro';
---

<Layout title="Portafolio de Valentín Osorio" description="Ingeniero de Software con +3 años de experiencia. Especializado en Frontend con Vue.js y React.js. Experto en crear aplicaciones únicas desde cero hasta producción." keywords="Valentín Osorio, frontend, developer, software, engineer, javascript, typescript, react, vue, astro, tailwind, css, html, web, application, portfolio, projects, skills, about, contact" author="Valentín Osorio">
	<main>
    <Hero />
    <Experiencie />
    <Projects />
    <Skills />
    <About />
    <Contact />
	</main>
</Layout>
