---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import { getLangFromUrl } from '../i18n/utils';

interface Props {
	title: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Valentín Osorio's personal website, +3 years of experience in frontend development, expert in creating unique applications from scratch to production." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/san_valen_memoji.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
    </script>
	</head>
	<body>
    <Navbar />
		<slot />
    <Footer />
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>
